<%- include ("./partials/header") %>
<%- include ("./partials/searchbar") %>

<div class="container">
    <div class="card-deck" >
        <% restaurants.forEach(function(restaurant){ %> 
            <%console.log(cuisine1)%>
            <%console.log(neigh1)%>
        <%  if (((restaurant.cuisine === cuisine1) || (cuisine1==="any")) && ((restaurant.neigh === neigh1))||(neigh1 === "any")){ %>
            <%console.log("divider")%>
            <%console.log(restaurant.cuisine )%>
            <div class="card">   
                <img class="card-image-top" src="<%=restaurant.image%>" alt="">       
                <div class="card-body">
                    <h5 class="card-title"><%= restaurant.name %> </h5>
                    <a href="/restaurants/<%=restaurant._id%>" class="stretched-link"></a>
                    <p class="card-text"><%=restaurant.cuisine%></p>
                    <p class="card-text"><%=restaurant.hours%></p>
                    <p class="card-text"><%=restaurant.phone%></p>
                   <% if(restaurant.deliv == true){ %>
                        <span class="badge badge-secondary">Delivery Available</span>          
                   <% }%>
                </div>
            </div>
            <%}%>
        <%});%>
    </div>
</div>


<%- include ("./partials/footer") %>